<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Element</title>
</head>
<body>
  <form action="/elements" method="POST" autocomplete="off">
    <input type="text" name="fullName" placeholder="What Element?">
    <input type="text" name="abbr" placeholder="Abbreviation?">
    <input type="text" name="weight" placeholder="Atomic Weight?">
    <input type="text" name="number" placeholder="Atomic Number?">
    <button type="submit">ADD!</button>
  </form>
</body>
</html>